.ticket, .ticket-repo, .ticket-reporter, .ticket-id, .ticket-title {
  box-sizing: border-box;
  font-size: 14pt;
  font-weight: normal;
  display: inline-block;
  margin: 0; }

.ticket-reporter::before, .github::before, .bug::before, .feature::before {
  display: inline-block;
  content: "\00a0";
  height: 1em;
  width: 1em;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-right: 7pt;
  z-index: 1000; }

.ticket {
  width: 148mm;
  height: 105mm;
  padding: 5mm; }

.ticket-id {
  float: left; }

.ticket-title {
  display: block;
  clear: both;
  z-index: 10000; }

