doctype html

html
    head
    body
        h1 Here be printable design :)

        .ticket-id #{ticket.id}
        .ticket-type #{ticket.type}
        .ticket-reporter #{ticket.reporter}
        .ticket-text #{ticket.text}